{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "wa_ultranukeexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg" ]
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/gun/rocketblast1.ogg", "/sfx/gun/rocketblast2.ogg", "/sfx/gun/rocketblast3.ogg" ]
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/projectiles/blast_small1.ogg", "/sfx/projectiles/blast_small2.ogg", "/sfx/projectiles/blast_small3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 60,
      "backgroundRadius" : 55,
      "explosiveDamageAmount" : 200,
      "delaySteps" : 2
    }
  ]
}
