{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "paa_extremeexplosion"
    },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_small1.ogg", "/sfx/gun/grenadeblast_small2.ogg", "/sfx/gun/grenadeblast_small3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 100,
      "backgroundRadius" : 100,
      "explosiveDamageAmount" : 1000,
      "delaySteps" : 2
    }
  ]
}
