{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/simulationconsole_past/header.png",
      "fileBody" : "/interface/scripted/simulationconsole_past/body.png",
      "fileFooter" : "/interface/scripted/simulationconsole_past/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Simulator",
      "subtitle" : "Activated using Simulation Data",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/simulationconsole_past/coreicon.png",
        "zlevel" : -1
      }
    },
    "activateButton" : {
      "type" : "button",
      "position" : [45, 30],
      "base" : "/interface/scripted/simulationconsole_past/activate.png:active",
      "hover" : "/interface/scripted/simulationconsole_past/activate.png:inactive",
      "pressed" : "/interface/scripted/simulationconsole_past/activate.png:active",
      "disabledImage" : "/interface/scripted/simulationconsole_past/activate.png:disabled",
      "pressedOffset" : [0, 0],
      "callback" : "activate"
    },
    "costDescription" : {
      "type" : "label",
      "position" : [96, 68],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "color" : "cyan",
      "value" : "DATA"
    },
    "costLabel" : {
      "type" : "label",
      "position" : [96, 59],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "0 / --"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 100]
    }
  },
  "scriptWidgetCallbacks" : [
    "activate"
  ],
  "scripts" : ["/interface/scripted/simulationconsole_past/wa_simulationconsole_pastgui.lua"],
  "scriptDelta" : 30,
  "activateItem" : "wa_simulationchip",
  "requiredCount" : 1
}
