{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Exquisite ", "Fine-Crafted ", "Polished ", "Special "],
      [ { "mode" : "alts" }, "Assault ", "PSI ", "Pnuematic ", "Tactical ", "Hardened ", "Forceful " ],
      [ { "mode" : "alts" }, "Rifle", "Shooter", "Sprayer" ]
    ]
  ]
}
